<section class="pagination">
    <% if ( hasPreviousPage === true) { %>
        <a href="?page=<%= lastPage %>"> Previous Page </a>
    <% } %>
    <% if ( hasNextPage === true) { %>
        <a href="?page=<%= nextPage %>"> Next Page </a>
    <% } %>            
</section>